body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 45, 37, 1);
    color: white;
    background-image: url(./assets/wood_bg.png);
}

a {
    color: inherit;
    text-decoration: none;
}

article {
    margin: 0.5%;
}

#context-menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99999;
    background-color: rgb(42, 42, 42);
    border: solid thin rgb(0, 0, 0);
    padding: 0.1%;
    border-radius: 10%;
    width: 8%;
    user-select: none;
}

#context-menu-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 2.5%;
}

.context-menu-item {
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
}

.context-menu-item:hover {
    text-decoration: underline;
}

.has-sub-menu > p::after {
    content: '>';
    padding-left: 5%;
}

.sub-menu-active > p::after {
    content: '^';
}

.sub-menu {
    display: none;
    padding: 0;
    position: absolute;
    left: 110%;
    top: 50%;
    background-color: rgb(42, 42, 42);
    border: solid thin rgb(0, 0, 0);
    padding: 0 10%;
    border-radius: 10%;
}

.sub-menu-active .sub-menu {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    font-size: x-large;
}

#header > * {
    padding: 0.5%;
}

#header-title {
    margin: 0;
    margin-right: 0.5%;
    align-self: center;
    padding-right: 1.5%;
    border-right: solid rgb(255, 255, 255) medium;
}

#user-name-display {
    margin: 0;
    align-self: center;
    font-size: xx-large;
    padding: 0 1.5%;
}

#header > :last-child {
    align-self: center;
    border-right: none !important;
    border-left: none !important;
}

#header > button {
    margin: 0 0.5%;
    background-color: transparent;
    border: solid medium rgb(255, 255, 255);
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
    transition: all cubic-bezier(0, 0, 0.2, 1) 100ms;
    color: inherit;
    font-size: inherit;
}

#header > button:hover {
    background-clip: content-box !important;
    background: linear-gradient(0deg, rgb(0, 187, 255) 0%, transparent 50%);
    cursor: pointer;
}

#signout {
    position: absolute;
    right: 0;
}

#signout:hover {
    background: linear-gradient(0deg, red 0%, transparent 50%) !important;
}

#user-statistics {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 2.5%;
    font-size: x-large;
}

#progress {
    display: inline-block;
    border-radius: 25px;
    border: solid black medium;
    height: 100%;
    width: calc(0.1 * 100vw);
    background: linear-gradient(90deg, rgba(19,203,56,1) var(--progress), transparent var(--progress));
    text-align: center;
}

#inventory-label {
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label {
    border-color: aqua !important;
}

#card-display-filters {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: x-large;
    align-items: center;
}

#card-display-filters > label {
    border-bottom: solid medium mediumorchid;
}

#card-display-filters > label:hover {
    cursor: pointer;
}

#display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
}

#display-container > *, #deck-preview-overlay-display {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

#deck-preview-overlay-display {
    display: flex;
}

#deck-preview-overlay {
    position: fixed;
    width: 99%;
    background-color: rgba(0, 0, 0, 0.5);
}

#card-preview-overlay {
    display: flex;
    justify-content: space-around;
}

#card-display > #card-preview-overlay {
    width: 99%;
    background-color: rgba(0, 0, 0, 0.5);
}

#card-preview-overlay > :not(:first-child) {
    align-self: center;
    max-width: 25%;
}

#cancel-deck-preview-overlay,
#cancel-card-preview-overlay {
    position: absolute;
    z-index: 100;
    right: 0;
    color: white;
    background: none;
    border: solid thin white;
    border-radius: 50%;
    padding: 0.4% 0.5%;
    cursor: pointer;
}

.card {
    position: relative;
    background-color: rgb(98, 98, 98);
    border: 3px solid black;
    border-radius: 10px;
    height: calc(0.1 * 100vw);
    width: 10%;
    margin: 0.5%;
    text-align: center;
    user-select: none;
}

.card:hover {
    cursor: pointer;
}

.card > h3 {
    text-align: center;
    width: 100%;
    margin: 0;
}

.card > :last-child {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1%;
    text-align: center;
}

.card-count-display {
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
    background-color: rgba(100, 100, 100, 0.5);
}

.card-cost-display {
    color: rgb(112, 191, 218);
}

.card-health-display  {
    color: rgb(100, 200, 125);
}

.card-attack-display  {
    color: rgb(255, 100, 100);
}

::-webkit-scrollbar {
    background: none;
}

#display-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 50%;
}